#pastas desnecessarias
*.code-workspace
.vscode
.idea
.pytest_cache
*.exe
#C library
*.o
*.so
*.a
*.ipynb_checkpoints


# CMake files
CMakeCache.txt
CMakeFiles/
*.cmake
cmake*
# DA test lib
**/lib/googletest/
**/DA/**/Makefile